
<div class="m-5">
  <h1 class="text-center text-white font-monospace">{{ title }}</h1>
  <h4 class="my-4 text-end text-white">Acteur(s) : <span class="text-bg-warning">{{allCharacter.length}}</span>  </h4>
  <div class="d-flex justify-content-center align-content-center">
      <div class="container">

        <table class="table table-striped table-hover bg-dark border-white" >
          <thead>
            <tr>
              
              <th class="text-center text-white align-middle col-1">Full name</th>
              <th class="text-center text-white align-middle col-1">Picture</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let charter of allCharacter" (click)="clicSurBouton(charter.id)">
                <td class="text-center text-white align-middle">{{charter.fullName}}</td>
                <td class="text-center align-middle"><img src="{{charter.imageUrl}}" alt="{{charter.firstName}}" class="img-thumbnail rounded w-50"></td>
            </tr>
          </tbody>
        </table>
        
      </div>
      <div class="">
        <div class="card bg-dark text-white" style="width: 45rem;">
       
          <img src="{{character != null ? character.imageUrl : ''}}" alt="" class="img-thumbnail rounded">
     
          <div class="card-body">
            <ul class="list-group mb-4">
              <li class="list-group-item bg-black text-white"><h4 class="font-weight-bold text-white-50">First Name :</h4>  {{character.firstName}}</li>
              <li class="list-group-item bg-black text-white"><h4 class="font-weight-bold text-white-50">First Name :</h4> {{character.lastName}}</li>
              <li class="list-group-item bg-black text-white"><h4 class="font-weight-bold text-white-50">Full Name :</h4> {{character.fullName}}</li>
              <li class="list-group-item bg-black text-white"><h4 class="font-weight-bold text-white-50">Title :</h4>  {{character.title}}</li>
              <li class="list-group-item bg-black text-white"><h4 class="font-weight-bold text-white-50">Family : </h4>{{character.family}}</li>
            </ul>
            <a href="#" class="btn btn-primary">See his quote</a>
          </div>
        </div>
      </div>
  </div>
</div>
  